.flip-clock {
  font-size: clamp(3.5rem, 5vw, 7.8rem);
  color: $color-primary-red;
  line-height: 0;
  // width: clamp(6.9rem, 9vw, 14.7rem);
  // height: clamp(6.7rem, 9vw, 14.1rem);
  width: calc(1vw + 1.843em);
  height: calc(1vw + 1.759em);
  display: flex;
  position: relative;
  perspective: 350px;
  border-radius: $border-radius;
  box-shadow: 0 0.14em 0 $color-neutral-mostly-black-blue;

  &:not(:last-of-type) {
    margin-right: calc(1vw + 1.76rem);
  }

  &::before,
  &::after {
    @include flexCenter;
    align-items: unset;
    background-color: $color-neutral-desaturated-blue;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border: 1px solid $color-neutral-mostly-black-blue;
  }

  &::before {
    content: attr(data-current-number);
    bottom: 0;
    align-items: flex-start;
    border-radius: 0 0 $border-radius $border-radius;
    border-top: none;
  }

  &::after {
    content: attr(data-next-number);
    top: 0;
    align-items: flex-end;
    border-radius: $border-radius $border-radius 0 0;
    border-bottom: none;
    background-color: darken($color-neutral-desaturated-blue, 3.5%);
    color: darken($color-primary-red, 2%);
  }

  & > * {
    cursor: default;
    user-select: none;
  }
}

.flip-clock__caption {
  font-size: clamp(0.7rem, 1vw, 1.4rem);
  color: $color-primary-grayish-blue;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: calc(-1.56rem - 1vw);
}
